body{
    background-color: lightblue;
    color: white;
    text-align: center;

}
.main {
    padding-right: 150px;
    padding-left: 150px;
    padding-bottom: 80px;
}

.section  {
    
    display:inline-table;

    
    text-transform: uppercase;
    align-items: center;
    
    border-radius: 15px 15px 15px 15px;
    
    padding-right: 120px;
    padding-left: 150px;
    padding-top: 80px;
    overflow-y: hidden;
    background: linear-gradient(to right, #67b0d1, #b9cdff);

}