/* styles.css */

 /* -----------------------------------------------
                        PRINCIPAL
    -----------------------------------------------*/

body {
    font-family: "Open Sans", sans-serif;
    color: black;
    background: rgba(103, 176, 209, 0.8);
  }
  
  a {
    text-decoration: none;
   
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
  }
  
  #main {
    margin-top: 90px;
  }

 /* -----------------------------------------------
                        HEADER
    -----------------------------------------------*/
#header { /* transition du header menu */
    transition: all 0.5s;
    padding: 24px 0;
    background: rgba(103, 176, 209, 0.8);
  }
  #header.header-transparent {
    background: lightblue;
  }
  
  #header .logo h1 {
    font-size: 24px;
    margin: 0;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
  }
  #header .logo h1 a, #header .logo h1 a:hover {
    color: rgb(22, 4, 104);
    text-decoration: none;
  }
  #header .logo img {/*image du logo*/
    padding: 0;
    margin:0;
    max-height: 70px;
  }
  /*@media (max-width: 768px) {
    #header.header-scrolled {
      padding: 15px 0;
    }
  }*/

  /* -----------------------------------------------
                        MENU
    -----------------------------------------------*/

 /**
* Desktop Navigation 
*/
.navbar { /*bloc nav menu*/
    padding: 0;
    background-color: rosybrown;
  }
  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none; /* enmève les points des listes*/
    align-items: center;
  }
  .navbar li {
    position: relative;
  }
  .navbar a, .navbar  {
    display: flex;
    align-items: center ;
    justify-content: space-between;
    padding: 8px 16px;
    margin-left: 60px; 
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: black;/*check*/
    transition: 0.3s;
  }
  
  .navbar a:hover { /* couleur surlignage menu*/
    background: rgba(28, 115, 196, 0.589);
  } /*CHECK*/
  .navbar .dropdown ul { /* menu nav ul*/
    display: block;
    position: absolute; /*permet la mise en forme des sous menu*/
    left: 10px;
    margin: 0;
    padding: 10px 0;
    visibility: hidden; /*visibilité du sous menu*/
    background: tan;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
  }/*CHECK*/
  
  .navbar .dropdown ul a { /* taille, couleur des éléments du sous menu*/
    padding: 10px 20px;
    font-size: 15px;
    text-transform: none;
    font-weight: 600;
    color: black;
  }
  
  .navbar .dropdown ul a:hover {
    color: yellow;
  }
  .navbar .dropdown:hover ul { /* dropdown = titres des sous menus*/
    opacity: 1;
    top: 100%;
    visibility:none;
  }
  .navbar .dropdown .dropdown ul { /* visibilité non permanante du sous-sous menu*/
    top: 0;
    visibility: none;
  }
  .navbar .dropdown .dropdown:hover  ul { /* permet à ce que chaque sous menu soit aligner sous un sous menu ou menu*/ 
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: hidden;
  }
  
    .navbar .dropdown .dropdown ul { /* les deux suivant permettent de faire apparaitre et disparaitre les sous menus losque l'on quitte le hover*/
      left: -90%;
    }
    .navbar .dropdown .dropdown:hover ul {
      left: -100%;
    }


     /* -----------------------------------------------
                        HERO
    -----------------------------------------------*/


    #hero {
      padding-right: 0;
      text-align: center;
        width: 100%;
        height: 100vh;
        background: linear-gradient(rgba(55, 142, 181, 0.5), rgba(55, 142, 181, 0.2)), top center;
        background-size: cover;
        position: relative;
        margin-bottom: -90px;
      }
      #hero .hero-container {
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        
      }
      #hero h1 {
        margin: 0 0 10px 0;
        font-size: 64px;
        font-weight: 700;
        line-height: 56px;
        text-transform: uppercase;
        color: pink;
        text-shadow: -1px 0 2px #2f4d5a;
      }
      #hero h2 {
        color: #fff;
        margin-bottom: 50px;
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 700;
        text-shadow: -1px 0 2px #2f4d5a;
      }
      #hero .btn-get-started {
        font-size: 36px;
        display: inline-block;
        padding: 10px 50;
        border-radius: 50px;
        transition: 0.3s ease-in-out;
        margin: 10px;
        width: 70px;
        height: 70px;
        text-align: center;
        border: 2px solid navy;
        color: navy;
      }
      #hero .btn-get-started:hover {
        padding-top: 8px;
        background: rgba(255, 255, 255, 0.15);
      }
      
    
    /*check
        #hero h1 {
          font-size: 28px;
          line-height: 36px;
        }
        #hero h2 {
          font-size: 18px;
          line-height: 24px;
          margin-bottom: 30px;
        }*/
      
 /*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
 
}

.section-bg {
  background-color: #f4f9fc;
  
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}
.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  position: relative;
  margin-bottom: 30px;
  color: #2f4d5a;
  z-index: 2;
}
.section-title h2::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 122px;
  height: 66px;
  background: url(../img/section-title-bg.png) no-repeat;
  z-index: -1;
}
.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about {
  background: url("https://img.freepik.com/photos-gratuite/texture-mur-stuc-bleu-marine-relief-decoratif-abstrait-grunge-fond-colore-rugueux-grand-angle_1258-28311.jpg?size=626&ext=jpg") center center no-repeat;
  background-size: cover;
  padding: 60px 0;
  position: relative;
}
.about::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.75);
  z-index: 9;
}
.about .container {
  position: relative;
  z-index: 10;
}
.about .content {
  padding: 30px 30px 30px 0;
}
.about .content h3 {
  font-weight: 700;
  font-size: 34px;
  color: #2f4d5a;
  margin-bottom: 30px;
}
.about .content p {
  margin-bottom: 30px;
}
.about .content .about-btn {
  display: inline-block;
  background: #67b0d1;
  padding: 6px 44px 8px 30px;
  color: #fff;
  border-radius: 50px;
  transition: 0.3s;
  position: relative;
}
.about .content .about-btn i {
  font-size: 18px;
  position: absolute;
  right: 18px;
  top: 9px;
}
.about .content .about-btn:hover {
  background: #7bbad7;
}
.about .icon-boxes .icon-box {
  margin-top: 30px;
}
.about .icon-boxes .icon-box i {
  font-size: 40px;
  color: #67b0d1;
  margin-bottom: 10px;
}
.about .icon-boxes .icon-box h4 {
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 10px 0;
}
.about .icon-boxes .icon-box p {
  font-size: 15px;
  color: #848484;
}

  .about .content {
    padding-right: 0;
  }


  .about {
    text-align: center;
  }


/*--------------------------------------------------------------
# Cpmpte
--------------------------------------------------------------*/
.counts {
  padding-bottom: 30px;
}
.counts .count-box {
  padding: 30px;
  width: 100%;
}
.counts .count-box i {
  display: block;
  font-size: 44px;
  color: #67b0d1;
  float: left;
  line-height: 0;
}
.counts .count-box span {
  font-size: 48px;
  line-height: 40px;
  display: block;
  font-weight: 700;
  color: #2f4d5a;
  margin-left: 60px;
}
.counts .count-box p {
  padding: 15px 0 0 0;
  margin: 0 0 0 60px;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  color: #49788c;
}
.counts .count-box a {
  font-weight: 600;
  display: block;
  margin-top: 20px;
  color: #49788c;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  transition: ease-in-out 0.3s;
}
.counts .count-box a:hover {
  color: #6e9fb4;
}

/*--------------------------------------------------------------
# Galerie
--------------------------------------------------------------*/
.portfolio img {
  width: 500px;
  height: 500px;
 image-rendering: auto;
}
.portfolio {
  padding-right: 0;
  text-align: center;
}

.portfolio .portfolio-item {
  margin-bottom: 30px;
}
.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 35px auto;
  list-style: none;
  text-align: center;
  background: #ecf5f9;
  border-radius: 50px;
  padding: 2px 15px;
}
.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px 8px 15px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #2f4d5a;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}
.portfolio #portfolio-flters li:hover, .portfolio #portfolio-flters li.filter-active {
  color: #67b0d1;
}
.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}
.portfolio .portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.portfolio .portfolio-wrap::before {
  content: "";
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

.portfolio .portfolio-wrap .portfolio-links a {
  color: rgb(112, 24, 24);
  font-size: 28px;
  text-align: center;
  background: rgba(103, 176, 209, 0.75);
  transition: 0.3s;
  width: 50%;
}
.portfolio .portfolio-wrap .portfolio-links a:hover {
  background: rgba(103, 176, 209, 0.95);
}

.portfolio .portfolio-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}

/*
/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.portfolio-details {
  padding-top: 40px;
}
.portfolio-details .portfolio-details-slider img {
  width: 100%;
}
.portfolio-details .portfolio-details-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}
.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #67b0d1;
}
.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #67b0d1;
}
.portfolio-details .portfolio-info {
  padding: 30px;
  box-shadow: 0px 0 30px rgba(47, 77, 90, 0.08);
}
.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}
.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}
.portfolio-details .portfolio-info ul li + li {
  margin-top: 10px;
}
.portfolio-details .portfolio-description {
  padding-top: 30px;
}
.portfolio-details .portfolio-description h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}
.portfolio-details .portfolio-description p {
  padding: 0;
}
*/

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact {
  padding-bottom: 80px;
    padding-right: 0;
    text-align: center;
  
}
.contact .info-box {
  color: #444444;
  background: #fff;
  text-align: center;
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 20px 0 30px 0;
}
.contact .info-box i {
  font-size: 32px;
  color: #67b0d1;
  border-radius: 50%;
  padding: 8px;
  border: 2px dotted #f0f7fa;
}
.contact .info-box h3 {
  font-size: 20px;
  color: #777777;
  font-weight: 700;
  margin: 10px 0;
}
.contact .info-box p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}
.contact .php-email-form {
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 30px;
  background: #fff;
}
.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}
.contact .php-email-form .error-message br  {
  margin-top: 25px;
}
.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  /*background: #18d26e;*/
  text-align: center;
  padding: 15px;
  font-weight: 600;
}
.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}
.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}
.contact .php-email-form input, .contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}
.contact .php-email-form input::focus, .contact .php-email-form textarea::focus {
  background-color: #67b0d1;
}
.contact .php-email-form input {
  padding: 10px 15px;
}
.contact .php-email-form textarea {
  padding: 12px 15px;
}
.contact .php-email-form button[type=submit] {
  background: #67b0d1;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
}
.contact .php-email-form button[type=submit]:hover {
  background: #8ec4dd;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#footer {
  background: #2f4d5a;
  padding: 0 0 30px 0;
  color: #fff;
  font-size: 14px;
  
}
#footer .footer-top {
  padding: 60px 0 30px 0;
 
}
#footer .footer-top .footer-info {
  margin-top: -90px;
  margin-bottom: 15px;
  background: white;
  color: #2f4d5a;
  border-top: 4px solid #67b0d1;
  text-align: left;
  padding: 30px 20px;
}
#footer .footer-top .footer-info h3 {
  font-size: 24px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}

#footer .footer-top .social-links mt-3 a {

border-radius: 50%;
border-color: navy;

}


#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #2f4d5a;
  color: navy;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 0;
  width: 30px;
  height: 30px;
  transition: 0.3s;

 
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  position: relative;
  padding-bottom: 12px;
  
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #b5d9e9;
  font-size: 18px;
  line-height: 1;
}
#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul a {
  color: #fff;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}
#footer .footer-top .footer-links ul a:hover {
  color: #4e3d7c;
}


@media (max-width: 575px) {
  #footer .footer-top .footer-info {
    margin: -20px 0 30px 0;
  }
}

#footer .footer-top .footer-info {
  padding-right: 0;
  text-align: center;
}
